.colaborador {
    position: relative;
    width: 17.5rem;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 6.25rem;
    border-radius: 50%;
    position: relative;
    bottom: -3.125rem;
}

.colaborador .rodape {
    background: var(--white-100);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 5.625rem;
    padding-bottom: 2.5rem;
}

.colaborador .rodape h4 {
    color: var(--blue-600);
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.colaborador .rodape h5 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: var(--black-900);
    padding: 0 1rem;
}

.deletar {
    position: absolute;
    right: -0.625rem;
    top: -0.625rem;
}
.favoritar {
    margin-top: 20px;
}