.campo {
    margin: 1.5rem 0rem;
}

.campo-texto label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}

.input:focus {
    outline: 3px solid var(--blue-600);
}

.campo-color input {
    padding: 0.313rem 0.500rem;
    height: 2.5rem;
    border-radius: 50px;
}